@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  /* Açık Mod Renkleri */
  --color-background: 243 244 246;
  --color-text-primary: 31 41 55;
  --color-text-secondary: 75 85 99;
  --color-accent: 5 150 105;
  --color-card-background: 255 255 255;
  --color-card-border: 229 231 235;
}

html.dark {
  /* Koyu Mod Renkleri */
  --color-background: 0 0 0;
  --color-text-primary: 229 231 235;
  --color-text-secondary: 156 163 175;
  --color-accent: 52 211 153;
  --color-card-background: 255 255 255 / 0.05;
  --color-card-border: 255 255 255 / 0.2;
}

::selection{
  background-color: rgb(var(--color-accent));
  color: rgb(var(--color-background));
}
-moz::selection{
  background-color: rgb(var(--color-accent));
  color: rgb(var(--color-background));
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text-primary));
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body,
a,
button {
  cursor: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #34d399 #1f2937;
}

.active-link {
  color: rgb(var(--color-accent));
  transform: scale(1.1);
  font-weight: 600;
}

/* Webkit tabanlı tarayıcılar için scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 10px;
  border: 2px solid #111827;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6ee7b7;
}

